.plan-tile {
    background-color: rgba(20, 20, 255, .15);
    height: 100%;
    padding:0px
}

.plan-tile-header {
    background-color: rgba(20, 20, 255, .4);
    font-style: underline;
}

.plan-tile-body {
    padding:10px;
    padding-top:0px;
}

.plan-tile h2 {
    font-style: italic;
    font-weight: bold;
    padding: 10px;
}



.pref-tile {
    background-color: rgba(255, 20, 20, .15);
    height: 100%;
    padding:0px
}

.pref-tile-header {
    background-color: rgba(255, 20, 20, .4);
    font-style: underline;
}

.pref-tile-body {
    padding:10px;
    padding-top:0px;
    margin-top: 0px
}

.pref-tile-body h3{
   /* text-align: center;*/
    margin-top:0px;
}

.pref-tile h2 {
  font-style: italic;
  font-weight: bold;
  padding: 10px;
}

.exp-button {
    display:block;
    margin-top:0px;
    margin: 0 auto;
    background-color: white;
}
.expandable {
    margin-top:0px;
    width: 100%;
}
.well {
    padding: 5px;
    margin-bottom:5px;
    margin-top:5px;
}






.btn-input {
   display: block;
}

.btn-input .btn.form-control {
    text-align: left;
}

.btn-input .btn.form-control span:first-child {
   left: 10px;
   overflow: hidden;
   position: absolute;
   right: 25px;
}

.btn-input .btn.form-control .caret {
   margin-top: -1px;
   position: absolute;
   right: 10px;
   top: 50%;
}

.separator-tight {
    margin-top: 5px;
    margin-bottom: 5px;
}

.plan-table {border:solid 1px black; border-spacing:4px; border-collapse:separate;}

.plan-table .c1 {
    text-alig
    padding-right:10px;
}